

  body, html{
    height: 100%;
    margin: 0;
  }
/*Parallax background*/
  .bground{
    background-image: url("img/polybackg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
        -webkit-filter: blur(2px);
   
    background-attachment: fixed;
    background-position: center;   
    background-repeat: no-repeat;
    height: 60vw; 
    z-index: -1;
  }
  /*About and Contact Button*/
  .about{
      
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: rgba(8, 23, 27, 0.932);      
    font-size: 1vw;
    border: 1px solid #16213870;
    position: absolute;
    /*"box and text about me" */
    top: 33vw;
    left: 49vw;
    transform: translate(-50%, -50%);
    border-radius: 10vw 10vw;
    z-index: 2;
    width: 8vw;
    line-height: 0.1vw;
    padding: 0.1vw;
    text-align: center;
    transition-property: width, background, color;
    transition-duration: 0.5s;
  }
  .about:hover{
    color: rgb(186, 201, 206);
    background:rgba(1, 3, 3, 0.322);
    width: 15vw;
    line-height: 0.1vw;
  }

  /* Main Page */
  .intro{     
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: rgba(8, 23, 27, 0.932);  
    font-size: 2vw;
    position: absolute;
    top: 25vw;
    left: 46vw;
    transform: translate(-40%, -50%);
    padding: 1vw;
    text-align: center;
  }
  


  /*Container About Page*/
  .cont{
    height: 1000px;
    background-color:rgb(228, 228, 228);
    font-size: 0px;
  }
     /*About Page*/
      .cont-about{
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color: rgba(8, 23, 27, 0.932); 
        height: 150vw;
        background-color:rgb(228, 228, 228);
        font-size: 2.5vw;
     }
      /* About Page - descriptions */
      .h2cyril{
        top: 55vw;
        left: 29vw;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        position: absolute;
        grid-template-columns: auto auto auto;
        font-weight: 100;
        display: grid;
        padding: 10vw;

      }
      .container-about {
        position: absolute;
        grid-template-columns: auto auto auto;
        font-weight: 100;
        display: grid;
        top: 70vw;
        padding: 10vw;
     }
     .grid-item {
       
       font-weight: 100;
       padding: 2vw;
       font-size: 1.4vw;
       text-align: center;
    }
  